# Python
__pycache__/
.venv/
*.pyc
# ignore large pickle
similarity.pkl

# ignore all .pkl by default, but allow the small movie_list.pkl
*.pkl
!movie_list.pkl
# Local data/artifacts
.env

data/*.csv

# VS Code
.vscode/

# local secrets (don’t push to GitHub)
.streamlit/secrets.toml